@{
    ViewBag.Title = "Informacion de:";
}
<main>
    <h id="title">@ViewBag.Title.</h>
      
    <div style="text-align: left;">
        <img src="~/Content/img.jpg" alt="Mi foto de perfil" style="width: 150px; height: 150px; border-radius: 50%;" />
        <div>
            <header>
                <br />
                <h1> Esmeralda Maribel Melgar Fuentes</h1>
                <h3>Ingeniera en Sistemas y Ciencias de Computacion</h3>
                <p>Estudiante de la Univerdiad de Occidente -UDEO-</p>
            </header>
        </div>
        <boddy>
            <hr />
            <br />
            <h4>Persona proactiva, dinamica, trabaja en equipo y trata de involucrar a todos los del equipo para que el trigunfo sea para todos</h4>
            <hr />
            <br />
            <span style="color :blueviolet"</span>
        <br />
        </boddy>
        <div 
             class="skills-seccion">
   
           
</main>
